<h1>Abuse report #<%= @abuse_report.id %></h1>

<h2>Current status</h2>
<%= @abuse_report.abuse_report_status.capitalize %>

<h2>Report details</h2>

<table class="ui celled table">
  <thead>
    <tr>
      <th>Reported by</th>
      <th>Reported on</th>
      <th>Report reason</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @abuse_report.reported_by %></td>
      <td><%= @abuse_report.created_at %></td>
      <td><%= @abuse_report.abuse_report_reason %></td>
    </tr>
  </tbody>
</table>

<h3>Report description</h3>
<div class="ui segment">
  <% if @abuse_report.description.present? %>
    <%= @abuse_report.description %>
  <% else %>
    No description available.
  <% end %>
</div>

<h2>Pronunciation details</h2>

<table class="ui celled table">
  <thead>
    <tr>
      <th>Pronounceable</th>
      <th>Uploaded By</th>
      <th>Uploaded On</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @abuse_report.pronounceable %></td>
      <td><%= @abuse_report.pronunciation_uploaded_by %></td>
      <td><%= @abuse_report.pronunciation_upload_date %></td>
    </tr>
  </tbody>
</table>

<h3>Uploaded file</h3>
<%= audio_tag(@abuse_report.pronunciation_audio_file_url, controls: true, loop: false, preload: "none") %>

<h2>Actions</h2>

<% if @abuse_report.submitted? %>
  <%= link_to "Acknowledge", acknowledge_abuse_report_path(@abuse_report), method: :post, class: "ui button" %>
<% elsif @abuse_report.acknowledged? %>
  <div class="">
    <%= link_to "Disable pronunciation and dismiss report",
      dismiss_abuse_report_path(@abuse_report, disable_pronunciation: true),
      method: :post,
      class: "ui button"
    %>
    <%= link_to "Dismiss report only",
      dismiss_abuse_report_path(@abuse_report, disable_pronunciation: false),
      method: :post,
      class: "ui button" %>
  </div>
<% elsif @abuse_report.addressed? %>
  This report has been addressed. There are no more actions to take at this time.
<% else %>
  There are no more actions to take at this time.
<% end %>
