<div>
  <%= search_form_for @q do |f| %>
    <!-- TODO: Add hidden field for language_id -->
      <div class="ui massive fluid icon input">
        <%= f.search_field :name_cont, placeholder: "Search for a word or phrase", autofocus: true %>
        <i class="search link icon"></i>
      </div>
  <% end %>
</div>

<% if @pronounceables.any? %>
  <div class="ui four stackable cards index-listing" data-container="pronounceables">
    <% @pronounceables.each do |pronounceable| %>
      <div class="card pronounceable" data-link-to=<%= pronounceable_path(pronounceable) %>>
        <div class="content">
          <div class="header">
            <%= pronounceable.name %>
          </div>

          <div class="meta pronunciations-count">
            <%= pronounceable.pronunciations_count %>
            <i class="talk outline icon"></i>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <%= paginate @pronounceables %>
<% else %>
  <div class="ui message pronounceable-no-results-found-message">
    No results found. Would you like to
    <%= link_to 'add a pronounceable?', new_pronounceable_path %>
  </div>
<% end %>

