<h1>New Pronounceable</h1>

<div class="ui segment">
  <%= form_for @pronounceable, html: { class: "ui form" } do |f| %>
    <div class="fields">
      <div class="required field">
        <%= f.label :language_id %>
        <%= f.select :language_id,
          Language.pluck(:name, :id),
          { include_blank: 'Language' },
          { class: "ui search dropdown" }
        %>
      </div>
      <div class="required field">
        <%= f.label :name, 'Pronounceable name' %>
        <%= f.text_field :name, placeholder: 'Word or phrase to be pronounced' %>
      </div>
    </div>

    <%= f.submit "Save", class: "ui positive button" %>
  <% end %>
</div>
