<h1 class="ui header"><%= @pronounceable %></h1>

<h2 class="ui horizontal divider header">Pronunciations</h2>

<% if @pronounceable.any_pronunciations? %>
  <div data-container="pronunciations">
    <% @pronounceable.each_pronunciation do |pronunciation, index| %>
      <div class="ui stackable two column grid segment">
        <div class="column">
          <% if pronunciation.disabled? %>
            <i class="warning sign icon"></i> This pronunciation has been disabled.
          <% else %>
            <%= audio_tag(pronunciation.audio_file_url, controls: true, loop: false, preload: "none") %>
          <% end %>
        </div>
        <div class="column">
          Uploaded on <%= pronunciation.upload_date %>
        </div>
        <div class="column">
          <%= render partial: 'abuse_report', locals: { pronunciation: pronunciation, index: index } %>
        </div>
      </div>
    <% end %>
  </div>
<% else %>
    No pronunciations available.
<% end %>

<h2 class="ui horizontal divider header">Add a Pronunciation</h2>
<% if @pronounceable.user_allowed_to_add_pronunciation?(current_user) %>
  <%= form_for @pronounceable.pronunciations.new, url: pronounceable_pronunciations_path(@pronounceable), html: { multipart: true, class: "ui form" } do |f| %>
    <%= f.hidden_field :pronounceable_id %>
    <!-- TODO: Update the user_id hidden field to use the current user's id once authentication has been implemented -->
    <%= f.hidden_field :user_id, value: current_user.id %>
    <%= f.file_field :audio_file, class: "required field" %>
    <%= f.submit "Upload pronunciation", class: "positive ui button" %>
  <% end %>
<% else %>
  <div class="ui message error">
    <i class="warning sign icon"></i>
    <%= @pronounceable.user_disallowed_from_adding_pronunciation_message(current_user) %>
  </div>
<% end %>
