<div class="ui segment container devise-container">
  <h2>Log in</h2>

  <%= form_for resource, as: resource_name, url: session_path(resource_name) , html: { class: 'ui form' } do |f| %>
    <div class="field">
      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true %>
    </div>

    <div class="field">
      <%= f.label :password %>
      <%= f.password_field :password, autocomplete: "off" %>
    </div>

    <% if devise_mapping.rememberable? -%>
      <div class="inline field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end -%>

    <div class="actions">
      <%= f.submit "Log in", class: "ui button" %>
    </div>
  <% end %>

  <div class="ui divider"></div>

  <%- if devise_mapping.recoverable? %>
    <%= link_to new_password_path(resource_name), class: "ui yellow button devise-action-button" do %>
      <i class="refresh icon"></i> Reset password
    <% end %>
  <% end -%>

  <%- if devise_mapping.confirmable? %>
    <%= link_to new_confirmation_path(resource_name), class: "ui purple button devise-action-button" do %>
      <i class="mail icon"></i> Confirm account
    <% end %>
  <% end -%>

  <%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) %>
    <%= link_to new_unlock_path(resource_name), class: "ui orange button devise-action-button" do %>
      <i class="unlock icon"></i> Unlock account
    <% end %>
  <% end -%>

  <%- if devise_mapping.omniauthable? %>
    <%- resource_class.omniauth_providers.each do |provider| %>
      <%= link_to "Sign in with #{OmniAuth::Utils.camelize(provider)}", omniauth_authorize_path(resource_name, provider), class: "ui button devise-action-button" %>
    <% end -%>
  <% end -%>
</div>
