<!DOCTYPE html>
<html>
  <head>
    <title>Pronounced</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div class="ui attached stackable menu navigation-menu">
      <%= link_to "Pronounced", pronounceables_path, class: "item homepage-link" %>
      <div class="right menu">
        <% if user_signed_in? %>
          <% if current_user.admin? %>
            <%= link_to management_index_path, class: "item" do %>
              <i class="settings icon"></i> Admin
            <% end %>
          <% end %>
          <%= link_to destroy_user_session_path, method: :delete, class: "item" do %>
            <i class="sign out icon"></i> Log out
          <% end %>
        <% else %>
          <%= link_to new_user_session_path, class: "item" do %>
            <i class="sign in icon"></i> Log in
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="ui container main-container">
      <%= render partial: 'shared/flash_messages' %>
      <%= yield %>
    </div>
  </body>
</html>
